<h1>Quotes App</h1>
  <div class="container">
      <div class="row">
      <ul>
        <div *ngFor='let quote of quotes; let i = index' >
          <li> {{quote.postedQuote}} by {{quote.authorName}}</li>
          <button class = "btn btn-primary"(click)='toggleDetails(i)'>Toggle details</button>
          <app-quote-details *ngIf = 'quote.showDetails' [quote] = 'quote' (isComplete) = 'quoteDelete($event, i)'></app-quote-details>

        </div>
      </ul>

    </div>

    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>

  </div>
