<h1>Quotes App</h1>
  <div class="container">
    <div class="row">
      <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>

      <ul>
        <div *ngFor='let quote of quotes; let i = index' >
          <li appStrikethrough> {{quote.name}}</li>
          <button class = "btn btn-primary"(click)='toggleDetails(i)'>Toggle details</button>
          <app-quote-details *ngIf = 'quotes.showDetails' [quote] = 'quote' (isComplete) = 'quoteDelete($event, i)'></app-quote-details>

        </div>
      </ul>
    </div>
  </div>
