<div class="container-fluid">
  <form (ngSubmit) = "submitQuote()" #quoteForm = 'ngForm' >
          <div class="form-group">

              <label for="description">Quote</label>
              <textarea class="form-control" id="details" rows="4" [(ngModel)]="newQuote.postedQuote" name = "postedQuote" #postedQuote = "ngModel" required></textarea>

          </div>

            <div class="form-group">

                <label for="name">Quote Author</label>
                <input type="text" required class="form-control" [(ngModel)]="newQuote.authorName" id = "name" name="authorName" #name = "ngModel">

            </div>

            <div class="form-group">

                <label for="name">Your Name:</label>
                <input type="text" required class="form-control" [(ngModel)]="newQuote.userName" id = "name" name="userName" #name = "ngModel">

            </div>
            <button type="submit" class="btn btn-success btn-lg">Add Quote</button>


        </form>
</div>
